[mysqld]
datadir=/var/lib/mysql
socket=/var/run/mariadb/mysql.sock
symbolic-links=0

[client]
socket=/var/run/mariadb/mysql.sock

[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

!includedir /etc/my.cnf.d
